
@charset "UTF-8";

html {
	font-size: 100%;
}

li {
	list-style: none;
}

a {
	color: #2d2d2d;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.site-title a {
	color: #2d2d2d;
}

.section-title {
	display: inline-block;
	margin-bottom: 80px;
}

.wrapper {
	text-align: center;
	margin: 0 auto 100px auto;
	padding: 0 4%;
}

.link-contact {
	text-decoration: underline;
}

/* header */

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header li {
	margin-left: 30px;
}

#header li a {
	color: #888;
}

#header li a:hover {
	opacity: 0.5;
}

#header li img {
	width: 30px;
}

#main-visual {
	margin-bottom: 80px;
}

#main-visual img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

/* about */

#about .image {
	margin-bottom: 30px;
}

#about .image img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
}

#about .text {
	text-align: center;
}

#about .text p {
	margin-bottom: 20px;
}

#about ul {
	margin: 30px auto;
}

/* works */

#works ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#works li {
	width: 32%;
	margin-bottom: 40px;
	box-shadow: 0 0 8px 4px #ccc;
}

#works li img {
	margin-bottom: 20px;
}

#works li .item-title {
	margin-bottom: 20px;
}

#works li p {
	margin-bottom: 20px;
}

.items li a {
	transition: all 0.8s;
}

.items li a:hover {
	opacity: 0.5;
}

/* news */

#news dl {
	display: flex;
	flex-wrap: wrap;
	border-top: solid 1px #888;
}

#news dt {
	width: 20%;
	border-bottom: solid 1px #888;
	padding: 15px;
}

#news dd {
	width: 80%;
	text-align: left;
	border-bottom: solid 1px #888;
	padding: 15px;
}

/* contact */

#contact dl {
	display: flex;
	flex-wrap: wrap;
}

#contact dt {
	width: 20%;
}

#contact dd {
	width: 80%;
	margin-bottom: 10px;
}

#contact input, textarea {
	width: 100%;
	border: solid 1px #888;
	padding: 10px;
}

#contact .button input {
	width: 200px;
	background-color: #2d2d2d;
	color: #fff;
}

#contact .button input:hover {
	background-color: #fff;
	color: #2d2d2d;
}

/* footer */

#footer {
	background-color: #2d2d2d;
	color: #fff;
	font-size: 0.5rem;
	text-align: center;
	padding: 10px;
}

/* SP */

@media screen and (max-width: 600px) {

	#header {
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#works ul {
		flex-direction: column;
	}

	#works li {
		width: 100%;
	}

	#news dl {
		flex-direction: column;
	}

	#news dt {
		border-bottom: none;
	}

	#news dd {
		width: 100%;
	}

	#contact dl {
		flex-direction: column;
	}

	#contact dt {
		text-align: left;
	}

	#contact dd {
		width: 100%;
	}

}




